Source: abraflexi-cli
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.0
Homepage: https://github.com/VitexSoftware/abraflexi-cli
Rules-Requires-Root: no

Package: abraflexi-cli
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 php-cli,
 php-spojenet-abraflexi,
 php-symfony-console,
 php-symfony-dotenv,
 php-symfony-dependency-injection,
 php-symfony-yaml,
 php-vitexsoftware-ease-core,
 composer-debian
Description: AbraFlexi commandline interface
 Symfony-based CLI for interacting with AbraFlexi API.
 Provides commands for listing companies, evidences, and records.
