#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php debian/abraflexi-cli/usr/lib/abraflexi-cli/autoload.php
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-cli/usr/lib/abraflexi-cli/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/abraflexi-cli/usr/lib/abraflexi-cli/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/abraflexi-cli/usr/lib/abraflexi-cli/autoload.php
	sed -i "s|require_once __DIR__ . '/../vendor/autoload.php'|require_once '/usr/lib/abraflexi-cli/autoload.php'|" debian/abraflexi-cli/usr/lib/abraflexi-cli/bin/abraflexi-cli
#	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" debian/abraflexi-cli/usr/lib/abraflexi-cli/autoload.php
